.App {
  text-align: center;
}
h1{
  background-color: blueviolet;
  height: 80px;
  line-height: -50%;
}
img{
  padding: 0%;
  margin: 0%;
  height: 500px;
  width: 500px;
}
button{
  background-color: black;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


